---
import { Image } from "astro:assets";
import replay from "../../src/assets/replay-page.png";
import hero from "../../src/assets/hero.png";
import data from "../../src/assets/data.png";
import maintenance from "../../src/assets/maintenance.png";
import notification from "../../src/assets/notification.png";
import {
  IconLocationFilled,
  IconClipboardDataFilled,
  IconInfoTriangleFilled,
  IconBellFilled,
  IconCornerRightDown,
  IconFenceFilled,
  IconArrowDown,
} from "@tabler/icons-react";

const features = [
  {
    title: "Ubicación en tiempo real",
    id: "ubicacion-en-tiempo-real",
    icon: IconLocationFilled,
  },
  {
    title: "Reportes de uso",
    id: "reportes-de-uso",
    icon: IconClipboardDataFilled,
  },
  {
    title: "Mantenimientos",
    id: "mantenimientos",
    icon: IconInfoTriangleFilled,
  },
  {
    title: "Notificaciones por eventos",
    id: "notificaciones-por-eventos",
    icon: IconBellFilled,
  },
  {
    title: "Geocercas",
    id: "geocercas",
    icon: IconFenceFilled,
  },
];

const sections = [
  {
    id: "ubicacion-en-tiempo-real",
    tag: "Ubicación en tiempo real",
    title: "Monitorea tu flota con precisión en cada movimiento",
    description:
      "Observa el recorrido de tus vehículos minuto a minuto con un rastreo GPS que te permite ver dónde están tus vehículos y cuándo. Con un sistema de geocercas, puedes definir límites seguros y optimizar tus rutas para reducir riesgos y mejorar la eficiencia operativa.",
    //links: ["Explora el rastreo >", "Más información >"],
    stats: ["80% menos errores en salida"],
    image: replay,
  },
  {
    id: "reportes-de-uso",
    tag: "Reportes de uso",
    title: "Transforma datos en decisiones acertadas",
    description:
      "Accede a reportes interactivos y visuales que te ofrecen un análisis profundo del desempeño de tu flota en tiempo real. Con información clara y precisa, identifica oportunidades de mejora y reduce los costos operativos de manera inteligente.",
    //links: ["Ver reportes >", "Descubre más >"],
    stats: ["60% menos errores"],
    image: data,
  },
  {
    id: "mantenimientos",
    tag: "Mantenimientos",
    title: "Mantenimientos proactivos para una flota siempre operativa",
    description:
      "Anticipa problemas y maximiza la vida útil de tus vehículos con alertas automatizadas y planes de mantenimiento basados en datos. Cuida tu inversión y mantén a tu equipo siempre en movimiento con un sistema que piensa en el futuro.",
    //links: ["Planificar mantenimiento >", "Ver historial >"],
    stats: ["50% más eficiencia"],
    image: maintenance,
  },
  {
    id: "notificaciones-por-eventos",
    tag: "Notificaciones",
    title: "Alertas inteligentes para una operación sin sorpresas",
    description:
      "Recibe notificaciones personalizadas al instante para mantener a tu equipo siempre informado. Con alertas precisas, actúa de inmediato ante cualquier evento, garantizando la continuidad y seguridad en cada operación.",
    //links: ["Configurar alertas >", "Historial de eventos >"],
    stats: ["40% respuesta más rápida"],
    image: notification,
  },
  {
    id: "geocercas",
    tag: "Geocercas",
    title: "Define límites seguros y optimiza tus rutas",
    description:
      "Crea zonas geográficas personalizadas para controlar la entrada y salida de tus vehículos. Recibe avisos automáticos al traspasar límites, asegurando la integridad de tus rutas y reduciendo riesgos, mientras mejoras la eficiencia operativa.",
    //links: ["Configurar geocercas >", "Ver zonas definidas >"],
    stats: ["70% rutas optimizadas"],
    image: replay,
  },
];
---

<main class="min-h-screen">
  {/* Hero Section */}
  <section class="container mx-auto px-4 py-20">
    <div class="grid gap-12 md:grid-cols-2 items-center">
      <div class="space-y-6">
        <h1 class="text-4xl md:text-5xl font-bold leading-tight">
          Estrategias clave para la máxima eficiencia.
        </h1>
        <p class="text-lg text-gray-400">
          Optimiza costos, maximiza activos y domina la logística de última
          milla. Sin complicaciones.
        </p>
        <button
          class="bg-white text-black px-6 py-3 rounded-md font-medium hover:bg-gray-200 transition duration-300"
        >
          Empieza ahora
        </button>
      </div>
      <div class="relative h-[300px] rounded-lg overflow-hidden">
        <Image
          src={hero}
          alt="Mapa de logística en tiempo real"
          width={900}
          height={643}
          class="object-cover"
        />
      </div>
    </div>
  </section>

  {/* Features Section */}
  <section class="py-20">
    <div class="container max-w-6xl mx-auto px-4 text-pretty">
      <h2 class="text-center text-3xl lg:text-5xl font-semibold mb-12">
        Información confiable y datos que te ayudan a tomar decisiones.
      </h2>
      <div class="grid lg:grid-cols-5 md:grid-cols-5 gap-6">
        {
          features.map((feature) => (
            <a
              href={`#${feature.id}`}
              class="flex lg:flex-col justify-between items-center lg:justify-center lg:text-center"
            >
              <div class="flex lg:flex-col lg:justify-center items-center">
                <div class="p-4">
                  <feature.icon className="text-primary" size={32} />
                </div>
                <p class="font-medium">{feature.title}</p>
              </div>
              <div class="p-4">
                <IconCornerRightDown className="lg:hidden" size="28" />
                <IconArrowDown className="hidden lg:block" size="28" />
              </div>
            </a>
          ))
        }
      </div>
    </div>
  </section>

  {/* Content Sections */}
  <section>
    <div class="container mx-auto px-4">
      <div class="space-y-24">
        {
          sections.map((section, index) => (
            <div id={section.id} class="py-20">
              <div
                class={`grid md:grid-cols-2 gap-12 items-center ${
                  index % 2 === 1 ? "md:grid-flow-col-dense" : ""
                }`}
              >
                <div
                  class={`space-y-6 ${index % 2 === 1 ? "md:col-start-2" : ""}`}
                >
                  <div class="inline-block px-3 py-1 rounded-full bg-primary text-white text-sm font-medium">
                    {section.tag}
                  </div>
                  <h3 class="text-3xl font-bold">{section.title}</h3>
                  <p class="text-gray-400 text-lg">{section.description}</p>
                  {/* <div class="space-y-3">
                {section.links?.map((link) => (
                  <a href="#" class="text-blue-400 hover:text-blue-300 font-medium block">
                    {link}
                  </a>
                ))}
              </div> */}
                  {section.stats?.map((stat) => (
                    <div class="text-2xl font-bold text-green-400">{stat}</div>
                  ))}
                </div>
                <div
                  class={`relative rounded-lg overflow-hidden ${
                    index % 2 === 1 ? "md:col-start-1" : ""
                  }`}
                >
                  <Image
                    width={900}
                    height={643}
                    src={section.image}
                    alt={section.title}
                    class="object-cover"
                  />
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </section>
</main>
